{% extends "base_template.html" %}

{% block title %}Tutorial Flask: Miniblog{% endblock %}


{% block content %}
    {% if post_pagination %}
        <ul>
        {% for post in post_pagination.items %}
            <li>
                <a href="{{ url_for('public.show_post', slug=post.title_slug) }}">
                    {{ post.title }} <span class="postCreated">
                    ({{ post.created|datetime }})
                </span>
                </a>
            </li>
        {% endfor %}
        </ul>

        <div class=pagination>
            {%- for page in post_pagination.iter_pages() %}
                {% if page %}
                    {% if page != post_pagination.page %}
                        <a href="{{ url_for('public.index', page=page) }}">{{ page }}</a>
                    {% else %}
                        <strong>{{ page }}</strong>
                    {% endif %}
                {% else %}
                    <span class=ellipsis>…</span>
                {% endif %}
            {%- endfor %}
        </div>
    {% else %}
        <li>No hay entradas</li>
    {% endif %}
{% endblock %}