{% extends "base_template.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <div>
        <span class="blogDate">{{ post.created|datetime('full') }}</span>
    </div>

    {% if post.image_name %}
        <div>
            <img src="{{ url_for('media_posts', filename=post.image_name) }}" />
        </div>
    {% endif %}

    {{ post.content|safe }}

    <h2>Comentarios</h2>
    {% if current_user.is_authenticated %}
    <div>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <div>
                {{ form.content.label }}
                {{ form.content }}<br>
                {% for error in form.content.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
    {% endif %}
    <br>
    <div id="comments">
        {% for comment in post.comments %}
            <div>
                <div>
                    {{ comment.user_name }} comentó (<span class="blogDate">{{ comment.created|datetime }}</span>):
                </div>
                <div>{{ comment.content }}</div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}